<Languages><List>
	<Language Name="ThaiTranslation">
		<DisplayName>Thai</DisplayName>
		<Icon>thflag.png</Icon>
		<!--0:CNMODE 1:ENMODE-->
		<UIMode>1</UIMode>
		<Desc>Language Example</Desc>
		<!--Word Connect with space-->
		<SpaceConnect>true</SpaceConnect>
		<!--FamilyName Postposition-->
		<FamilyPostposition>false</FamilyPostposition>
		 <!--change the labelword in StoryTxt -->
		<Labels>
			<li Label="[ENHIM]" SecondPersonF="นาง" SecondPersonM="เขา"/>
			<li Label="[ENHERS]" SecondPersonF="ของนาง" SecondPersonM="ของเขา"/>
			<li Label="[ENHIM2]" ThirdPersonF="นาง" ThirdPersonM="เขา"/>
			<li Label="[ENHERS2]" ThirdPersonF="ของนาง" ThirdPersonM="ของเขา"/>
		</Labels>
	</Language>
</List></Languages>